@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    ul,
    ol {
        list-style: inherit;
    }
}

.bg_gradient {
    background: rgb(250, 245, 255);
    background: linear-gradient(130deg, rgb(240, 240, 250) 33%, rgb(239, 255, 245) 66%,rgb(249, 239, 255) 99%);
}